.free-shipping {
    .free-shipping__title {
        color: #000;
        text-align: center;
        font-family: var(--font-primary);
        font-size: 18px;
        line-height: 1.55556;
        letter-spacing: -0.18px;
        margin-bottom: 35px;
        .highlight {
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    .progress-bar {
        max-width: 505px;
        margin: 0 auto;
    }
}
.woocommerce-cart {
    #pxl-main {
        padding: 0;
    }
    .product-cart {
        .cart-header {
            margin-bottom: 114px;
            @media #{$max-lg} {
                margin-bottom: 105px;
            }
            @media #{$max-sm} {
                margin-bottom: 90px;
            }
        }
        .cart-body {
            display: flex;
            gap: 60px 24px;
            justify-content: space-between;
            width: 100%;
            @media #{$max-lg} {
                flex-wrap: wrap;
            }
        }
    }
    form.woocommerce-cart-form {
        flex: 0 1 1030px;
        @media #{$max-lg} {
            flex: 0 1 100%;
            max-width: 100%;
        }
        .shop_table, .cart-table {
            border: none;
            margin: 0;
            .product-info {
                flex-basis: 443px;
                flex-grow: 1;
                @media #{$max-sm} {
                    flex-basis: 100%;
                }
            }
            .product-price {
                flex-basis: 183px;
                min-width: fit-content;
                @media #{$max-sm} {
                    flex-basis: 100%;
                }
            }
            .product-quantity {
                flex-basis: 184px;
                min-width: fit-content;
                flex-shrink: 0;
                @media #{$max-sm} {
                    flex-basis: 100%;
                }        
            }
            .product-subtotal {
                flex-basis: 220px;
                @media #{$max-sm} {
                    flex-basis: 100%;
                } 
            }
            .cart-table-header {
                display: flex;
                align-items: center;
                gap: 1px;
                .table-title {
                    color: #1F1F1F;
                    font-family: var(--font-primary);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.55556;
                    text-transform: uppercase;
                    padding: 16px 24px;
                    background-color: #EBEBEB;
                }
                @media #{$max-sm} {
                    display: none;
                }
            }
            .cart-table-content {
                .cart-table-item {
                    position: relative;
                    display: flex;
                    gap: 15px 1px;
                    min-height: 168px;
                    padding: 24px 0;
                    border-bottom: thin solid rgba($color: #3C3C3C, $alpha: .14);
                    @media #{$max-sm} {
                        flex-direction: column;
                        align-items: start;
                        padding: 30px 0;
                    }
                    &.cart-table-item--add-gift-wrap {
                        min-height: auto;
                        padding-block: 34px 32px;
                        border: none;
                    }
                    > div {
                        width: 100%;
                        &:not(.product-info) {
                            display: flex;
                            gap: 24px;
                            &::before {
                                content: attr(data-title);
                                display: none;
                                font-size: 16px;
                                font-weight: 500;
                                min-width: 85px;
                                color: #000;
                            }
                            @media #{$max-sm} {
                                align-items: center;
                                &::before {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .product-info {
                        display: flex;
                        gap: 20px;
                        padding: 0;
                        .product-image {
                            flex: 0 0 120px;
                            img {
                                width: 100%;
                                height: auto;
                                border-radius: 10px;
                                max-width: 120px;
                                @media #{$max-sm} {
                                    max-height: 150px;
                                }
                            }
                            @media #{$max-md} {
                                flex-shrink: 1;
                            }
                        }

                        .product-name {
                            flex: 1 1 auto;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            color: #1F1F1F;
                            font-family: var(--font-primary);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            letter-spacing: -0.16px;
                            text-transform: uppercase;
                            @media #{$max-md} {
                                flex-shrink: 2;
                            }
                        }
                        .product-attributes {
                            color: #818181;
                            font-family: var(--font-primary);
                            font-size: 14px;
                            line-height: 1.42857;
                            text-transform: capitalize;
                        }
                        @media #{$max-xl} {
                            flex-direction: column;
                        }
                        @media #{$max-lg} {
                            flex-direction: row;
                        }
                        @media #{$max-sm} {
                            flex-direction: column;
                        }
                    }
                    .product-price, .product-subtotal {
                        color: #000;
                        font-family: var(--font-primary);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.55556;
                        padding-inline: 24px 15px;
                        align-items: start;
                        @media #{$max-sm} {
                            padding-inline: 0;
                        }
                    }
                    .product-quantity {
                        height: fit-content;
                        gap: 24px;
                        align-items: center;
                        .quantity {
                            > input {
                                width: 92px;
                                height: 30px;
                            }
                        }
                        .remove {
                            width: auto;
                            height: auto;
                            display: inline-block;
                            color: #1F1F1F !important;
                            font-weight: 400;
                            color: #1F1F1F;
                            font-family: var(--font-primary);
                            font-size: 14px;
                            line-height: 1.05;
                            @include underline;
                        }
                    }
                }
            }
            label {
                color:#1F1F1F;
                letter-spacing: -0.32px;
            }
            .cart-note {
                label {
                    display: block;
                    margin-bottom: 10px
                }
                
                textarea {
                    border-radius: 10px;
                    border: thin solid #EBEBEB;
                    height: 206px;
                    color: #1F1F1F;
                }
            }
            .pxl-button[name="update_cart"] {
                @extend .pxl-button-default;
                border-radius: 82px;
                background-color: #FFC942;
                line-height: 52px;
                height: 52px;
                padding: 0 42px;
                color: #3C3C3C;
                font-family: var(--font-primary);
                font-size: 16px;
                font-weight: 800;
                border: thin solid #FFC942 !important;
                display: none;
                .screen-reader-text {
                    display: block;
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                }
                .button__text {
                    pointer-events: none;
                }
            }
        }
    }
    .cart-collaterals {
        flex: 1 1 464px;
        max-width: 464px;
        position: relative;
        @media #{$max-lg} {
            flex-grow: 0;
        }
        .cart_totals {
            width: 100%;
            float: none;
            padding: 0;
            margin: 0;
            padding: 32px;
            border-radius: 20px;
            border: thin solid #EBEBEB;
            background-color: #FFF;
            margin-bottom: 24px;
            @media #{$max-xs} {
                padding: 30px 15px;
            }
            .cart_totals-box {
                margin-bottom: 20px;
                .cart_totals-title {
                    color: var(--color-tertiary);
                    font-family: var(--font-primary);
                    font-weight: 500;
                    line-height: 1.33333;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;
                    margin-bottom: 20px;
                    .total-amount {
                        strong {
                            font-weight: 500;
                        }
                    }
                }
                .cart_total-note {
                    color: #000;
                    font-family: var(--font-primary);
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: -0.32px;
                }
                
                > table.shop_table {
                    border: none;
                    border-radius: 0;
                    tbody {
                        tr {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 30px;
                            padding: 0;
                            border: none;
                            + tr {
                                margin-top: 30px;
                            }
                            th, td {
                                display: block;
                                padding: 0;
                                border: none;
                                margin: 0;
                                &::before {
                                    display: none;
                                }
                            }
                            &.cart-subtotal {
                                th, td {
                                    color: #5C6672;
                                    font-family: var(--font-primary);
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 1.75;
                                }
                            }
                            &.order-total {
                                th, td {
                                    * {
                                        color: var(--color-tertiary);
                                        font-family: var(--font-primary);
                                        font-size: 16px;
                                        font-weight: 800;
                                        line-height: 1.75;
                                    }
                                }
                            }
                            &.shipping {
                                td {
                                    .woocommerce-shipping-destination {
                                        display: block;
                                        color: #FFF;
                                        font-family: var(--font-primary);
                                        font-size: 16px;
                                        font-weight: 300;
                                        line-height: 1.6;
                                        margin-bottom: 5px;
                                        strong {
                                            font-weight: 500;
                                        }
                                    }
                                    #shipping_method.woocommerce-shipping-methods{
                                        li {
                                            margin-bottom: 5px;
                                        }
                                        label, input{
                                            @extend .woocommerce-shipping-destination;
                                            .amount {
                                                font-weight: inherit;
                                            }
                                        }
                                    }
                                    #shipping_method {
                                        li {
                                            display: flex;
                                            align-items: center;
                                            gap: 4px;
                                            font-weight: 300;
                                            input {
                                                width: 10px;
                                                height: 10px;
                                            }
                                        }
                                    }
                                    form.woocommerce-shipping-calculator {
                                        width: 100%;
                                        .shipping-calculator-button {
                                            margin: 0;
                                            @extend .woocommerce-shipping-destination;
                                            color: #FFF;
                                            &:hover {
                                                color: var(--color-secondary);
                                            }
                                        }
                                        .selection {
                                            .select2-selection {
                                                height: auto;
                                                text-align: start;
                                            }
                                            .select2-selection__rendered {
                                                padding: 0 20px;
                                                line-height: 42px;
                                            }
                                        }
                                        .button {
                                            line-height: 43px;
                                            border-radius: 100px;
                                            background-color: #FFF;
                                            color: var(--color-tertiary);
                                            font-family: var(--font-primary);
                                            font-size: 12px;
                                            font-weight: 400;
                                            letter-spacing: 2px;
                                            text-transform: uppercase;
                                            padding: 0 32px;
                                            border: thin solid #FFF;
                                            &:hover {
                                                background-color: transparent;
                                                color: #FFF;
                                            }
                                        }
                                    }
                                }
                            }
                            &.order-total {
                                td {
                                    .woocommerce-Price-amount {
                                        font-family: var(--font-primary);
                                        font-size: 18px;
                                        font-weight: 300;
                                        line-height: 1.55;
                                        color: inherit;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .divider {
                display: block;
                width: 100%;
                height: 1px;
                background-color: #EBEBEB;
                margin-block: 24px;
            }
            .cart_total-checkbox {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #1F1F1F;
                font-weight: 400;
                letter-spacing: -0.32px;
                margin-bottom: 32px;
                a {
                    font-weight: 500;
                }
                input {
                    margin: 0;
                }
            }
            .wc-proceed-to-checkout {
                padding: 0;
                width: 100%;
                margin-bottom: 24px;
                .pxl-button {
                    --pxl-background-color: #101828;
                    width: 100%;
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #FFF;
                    font-family: var(--font-primary);
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            .payment-method {
                text-align: center;
                &__title {
                    margin-bottom: 12px;
                    color: #101828;
                    font-size: 14px;
                    line-height: 1.42857;
                }
                .grid__inner {
                    --pxl-spacing-inline: 10px;
                    --pxl-spacing-block: 10px;
                    img {
                        width: 45px;
                        height: 31px;
                        border: thin solid #D9D9D9;
                        border-radius: 2.5px;
                    }
                }
            }
        }
        .cart-testimonials {
            padding: 32px 32px 46px;
            background: linear-gradient(134deg, #FFCBB1 25.62%, #EBA2A2 100%);
            background: -webkit-gradient(134deg, #FFCBB1 25.62%, #EBA2A2 100%);
            border-radius: 20px;
            @media #{$max-xs} {
                padding: 30px 15px;
            }
            .testimonial {
                &__header {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    justify-content: space-between;
                    margin-bottom: 42px;
                }
                &__icon {
                    color: #FFF;
                }
                &__rating {
                    display: flex;
                    gap: 5px;
                    color: #FD5900;
                }
                &__content {
                    color: #1F1F1F;
                    font-family: var(--font-primary);
                    letter-spacing: -0.32px;
                    margin-bottom: 32px;
                }
                &__user {
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    &-avt {
                        --pxl-box-size: 42px;
                        @include round-box;
                        overflow: hidden;
                    }
                    &-name {
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
        .swiper-navigation {
            position: absolute;
            right: 32px;
            bottom: 32px;
            top: auto;
            left: auto;
            justify-content: end;
            transform: translateY(0);
            width: fit-content;
            gap: 16px;
            .pxl-swiper-button {
                --pxl-box-size: auto;
                border: none;
                background-color: transparent;
            }
        }
    }
    .wp-block-woocommerce-cart {
        .wc-block-cart {
            margin: 0;
            padding: 0;
            .wc-block-components-main {
                flex: 1 0 100%;
                max-width: 1300px;
                padding: 0;
                margin: 0;
            }
            .wc-block-components-sidebar {
                flex: 1 0 100%;
                max-width: 653px;
                padding: 46px 35px 67px 60px;
                margin: 0;
                background-color: var(--color-tertiary);
                .wc-block-components-totals-wrapper {
                    padding-block: 15px;
                    border-bottom: thin solid rgba($color: #FFF, $alpha: .17);
                    .wc-block-components-totals-coupon {
                        padding: 0;
                        color: #FFF;
                        font-family: var(--font-secondary);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.35;
                        letter-spacing: -1px;
                    }
                    #wc-block-components-totals-coupon__input-coupon {
                        padding: 0 15px;
                        line-height: 42px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.cart-empty {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #000;
    i {
        font-size: 36px;
    }
    .button-cart-empty {
        margin-top: 15px;
        --pxl-background-color: #FFF;
        border: thin solid #FD5900;
        width: auto;
        font-weight: 500;
        &:hover {
            color: #FD5900;
        }
    }
}