.woocommerce-checkout {
    .woocommerce-form-coupon-toggle {
        display: block;
        width: 100%;
    }
    .select2 .select2-selection--single .select2-selection__rendered {
        line-height: 49px;
        color: #1F1F1F;
    }
    .select2-dropdown {
        padding: 15px;
        border-radius: 6px !important;
        border: thin solid #D5D5D5 !important;
        margin-top: -1px;
        &.select2-dropdown--above {
            margin-top: 1px;
        }
        .select2-search {
            padding: 0;
            padding-bottom: 5px;
            .select2-search__field {
                border-radius: 6px;
                border: thin solid rgba($color: #0A2803, $alpha: .17);
                background-color: #FFF;
                height: 50px;
                padding-inline: 15px;
                color: rgba($color: #404A3D, $alpha: .65);
                font-family: var(--font-primary);
                font-size: 16px;
                font-weight: 500;
            }
        }
        .select2-results {
            .select2-results__options {
                li {
                    color: rgba($color: #404A3D, $alpha: .65);
                    font-family: var(--font-primary);
                    font-size: 16px;
                    border-radius: 4px;
                    &:hover, &.select2-results__option--highlighted, &[data-selected="true"] {
                        background-color: #63AB52;
                        color: #FFF;
                    }
                }
            }
        }
    }
    form.checkout {
        display: flex;
        justify-content: space-between;
        gap: 90px 24px;
        align-items: start;
        @media #{$max-md} {
            flex-direction: column;
            justify-content: start;
        }
        .woocommerce-NoticeGroup {
            display: none;
        }
        #customer_details {
            display: flex;
            flex-direction: column;
            flex: 1 2 952px;
            padding: 32px;
            border-radius: 20px;
            border: thin solid #EBEBEB;
            h5 {
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            // .woocommerce-shipping-fields, 
            .woocommerce-additional-fields {
                display: none;
            }
            .woocommerce-checkout-contact {
                margin-top: 48px;
            }
            .woocommerce-checkout-billing, .woocommerce-checkout-contact, .woocommerce-checkout-shipping {
                &__fields {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px 16px;

                }
                .form-row {
                    padding: 0;
                    margin: 0;
                    position: relative;
                    width: 100%;
                    &.flex-w-33 {
                        flex: 0 0 calc(33.333333% - 32px / 3);
                    }
                    &.flex-w-50 {
                        flex: 0 0 calc(50% - 16px / 2);
                    }
                    &.flex-w-100 {
                        flex: 0 0 100%;
                    }
                    &:has(input:is(:focus, :not(:placeholder-shown))) {
                        label {
                            top: 0px;
                            transform: translateY(0);
                            font-size: 12px;
                        }
                    }
                    input {
                        height: 50px;
                        padding: 20px 12px 0 12px;
                        border-radius: 6px;
                        border: thin solid #EBEBEB;
                        color: #1F1F1F;
                        font-family: var(--font-primary);
                        letter-spacing: -0.32px;
                        &::placeholder, 
                        &::-webkit-input-placeholder {
                            color: transparent;
                        }
                    }
                    label {
                        color: #818181;
                        letter-spacing: -0.32px;
                        position: absolute;
                        left: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .3s ease;
                        .required {
                            display: none;
                        }
                        &.screen-reader-text {
                            width: auto !important;
                            height: auto !important;
                            clip: auto !important;
                            clip-path: none !important;
                            overflow: visible !important;
                            margin: 0 !important;
                            padding: 0 !important;
                            border: 0 !important;
                            word-wrap: normal !important;
                            overflow-wrap: normal !important;
                        }
                    }
                    &::before, &::after {
                        display: none;
                    }
                    &.validate-phone, &.validate-email {
                        margin: 0;
                    }
                    .checkout-inline-error-message {
                        margin-top: 5px;
                        font-size: 14px;
                    }
                }
            }
            .woocommerce-checkout-billing:has(#billing_state[type="hidden"]),
            .woocommerce-checkout-billing:has(#shipping_state[type="hidden"]) {
                .form-row.flex-w-33 {
                    flex: 0 0 calc(50% - 8px);
                }
            }

            .woocommerce-checkout-shipping-methods {
                margin-top: 48px;
                #shipping_method {
                    li {
                        margin: 0;
                        input[type="radio"] {
                            margin: 0;
                            width: 10px;
                            height: 10px;
                            cursor: pointer;
                            &:checked~label {
                                color: #1F1F1F;
                            }
                        }
                        label {
                            color: #667085;
                            letter-spacing: -0.32px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            gap: 8px;
                            opacity: .8;
                            cursor: pointer;
                            padding: 16px;
                            background-color: #FFF;
                            border-radius: 6px;
                            border: thin solid #EBEBEB;
                            .amount {
                                margin-left: auto;
                                font-weight: 500;
                                transition: .3s linear;
                            }
                        }
                        + li {
                            margin-top: 15px;
                        }
                    }
                }
            }
            #ship-to-different-address {
                margin-top: 16px;
                label {
                    color: #111111
                }
                .shipping_address {
                    margin-top: 16px;
                }
                &:not(:has(.shipping_state input[type="hidden"])) {
                    .form-row.flex-w-33 {
                        flex: 0 0 calc(50% - 8px);
                    }
                }
            }
            .woocommerce-checkout-payment-methods {
                margin-top: 48px;
                h5 {
                    margin-bottom: 12px;
                }
                .payment-note {
                    margin-bottom: 24px;
                }
                #payment {
                    background-color: transparent;
                    border-radius: 0;
                    .payment_methods  {
                        &::before, &::after {
                            display: none;
                        }
                        padding: 0;
                        border: none;
                        list-style: none;
                        li {
                            &::before, &::after {
                                display: none;
                            }
                            &:not(.has-note) {
                                border-radius: 6px;
                                border: thin solid #EBEBEB;
                                .payment-method-box {
                                    padding: 16px;
                                }
                            }
                            &.has-note {
                                padding: 0;
                                border-radius: 0;
                                border: none;
                                .payment-method-box {
                                    padding: 16px;
                                    border-radius: 6px;
                                    border: thin solid #EBEBEB;
                                }
                                .payment_box {
                                    display: block !important;
                                    margin: 0;
                                    padding: 0;
                                    margin-top: 12px;
                                    font-size: 16px;
                                    color: #818181;
                                    background-color: transparent;
                                    border-radius: 0;
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                            + li {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
            .woocommerce-checkout-noice {
                margin-top: 24px;
                .form-row {
                    display: none;
                }
            }
            .woocommerce-privacy-policy-text {
                color: #1F1F1F;
                p {
                    margin: 0
                }
                a {
                    @include underline;
                    display: inline-block;
                    line-height: 1;
                }
            }
        }
        .order-review {
            flex: 0 1 542px;
            &__inner {
                border-radius: 20px;
                border: thin solid #EBEBEB;
                background-color: #FFF;
                padding: 32px;
            }
            &__title {
                color: #000;
                font-family: var(--font-primary);
                line-height: 1.33333;
                text-transform: uppercase;
                margin-bottom: 36px;
            }
            &__products {        
                .product {
                    display: flex;
                    gap: 20px;
                    + .product{
                        margin-top: 20px;
                    }
                    &__thumbnail {
                        flex: 0 0 96px;
                        position: relative;
                        img {
                            border-radius: 8px;
                            width: 100%;
                        }
                    }
                    &__quantity {
                        position: absolute;
                        --pxl-box-size: 24px;
                        @include round-box;
                        @include flex-center;
                        background-color: #FD5900;
                        color: #FFF;
                        font-size: 14px;
                        font-weight: 500;
                        right: -11px;
                        top: -10px;
                    }
                    &__content {
                        flex: 1 1 auto;
                        display: flex;
                        justify-content: space-between;
                        gap: 15px;
                    }
                    &__name {
                        flex: 1 1 auto;
                        color: #1F1F1F;
                        font-family: var(--font-primary);
                        font-weight: 500;
                        letter-spacing: -0.32px;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                    }
                    &__subtotal {
                        flex: 0 0 auto;
                        color: #000;
                        font-family: var(--font-primary);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.55555;
                        align-self: center;
                    }
                    &-attributes {
                        display: block;
                        margin-top: 8px;
                        font-size: 14px;
                        line-height: 1.42857;
                        text-transform: capitalize;
                        font-weight: 400;
                    }
                }
            }
            .divider {
                display: block;
                height: 1px;
                background-color: rgba($color: #A1A1A1, $alpha: .2);
                margin-block: 32px;
            }
            &__calc {
                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 15px;
                    color: #000;
                    font-family: var(--font-primary);
                    letter-spacing: -0.32px;
                    text-transform: uppercase;
                    .label {
                        font-weight: 500;
                    }
                    + .order-review__calc-item {
                        margin-top: 15px;
                    }
                    &.order-review__total {
                        font-size: 24px;
                        line-height: 1.33333;
                        strong {
                            font-weight: 400;
                        }
                    }
                }
                .button--place-order {
                    margin-top: 32px;
                    font-weight: 500;
                    color: #FFF;
                    text-transform: uppercase;
                    width: 100%;
                    --pxl-background-color: #010101;
                }
            }
                
            #payment {
                background-color: #FFF;
                border-radius: 12px;
                background-color: #FFF;
                @include box-shadow(0px 11px 50px 11px rgba(1, 53, 102, 0.05));
                padding: 45px;
                .wc_payment_methods {
                    padding: 0 0 40px 0;
                    margin-bottom: 40px;
                    li {
                        padding: 0;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 18px;
                        &::before, &::after {
                            display: none;
                        }
                        input {
                            margin: 0;
                            width: 15px;
                            height: 15px;
                            &[type="radio"] {
                                accent-color: var(--color-tertiary);
                            }
                            
                        }
                        label {
                            color: var(--color-tertiary);
                            font-family: var(--font-primary);
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 1.6667;
                        }
                        .payment_box {
                            flex-basis: 100%;
                        }
                        + li {
                            margin-top: 20px;
                        }
                    }
                    .payment_box {
                        margin: 0;
                        padding: 25px 35px 35px;
                        border-radius: 4px;
                        background-color: rgba($color: #63AB52, $alpha: 0.09);
                        color: rgba(64, 74, 61, 0.65);
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.75;
                        &::before, &::after {
                            display: none;
                        }
                    }
                }
                .place-order {
                    margin: 0;
                    padding: 0;
                    .woocommerce-terms-and-conditions-wrapper {
                        margin-bottom: 37px;
                        .woocommerce-privacy-policy-text {
                            color: rgba(64, 74, 61, 0.65);
                            font-family: var(--font-primary);
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.75;
                            padding: 0;
                            a {
                                color: inherit
                            }
                        }
                    }
                    #place_order {
                        width: fit-content;
                        @extend .pxl-button-default;
                        border-radius: 82px;
                        background-color: var(--color-primary);
                        line-height: 52px;
                        height: 52px;
                        padding: 0 42px;
                        color: #FFF;
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 800;
                        border: thin solid var(--color-primary) !important;
                        margin: 0;
                        float: none;
                        &:hover {
                            background-color: #FFF;
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
    .wp-block-woocommerce-checkout {
        .wc-block-checkout {
            margin: 0;
            .wc-block-components-main {
                width: 100%;
                padding: 0;
                margin: 0;
                .form.wc-block-components-form {

                }
            }
        }
    }
}