.order-summary {
    ul {
        list-style: none;
        margin: 0;
    }
    .order-table {
        ul {
            li {
                text-align: center;
            }
            .order-id, .order-date {
                flex-basis: 20.4%;
            }
            .order-total {
                flex-basis: 20.5%;
            }
            .order-payment-method {
                flex-basis: 38.8%;
            }
            @media #{$max-sm} {
                li {
                    text-align: start;
                }
                .order-id, .order-date, .order-total, .order-payment-method {
                    flex-basis: 100%;
                }
            }
        }
        &__header {
            display: flex;
            gap: 1px;
            li {
                background-color: #EBEBEB;
                color: #1F1F1F;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.55556;
                text-transform: uppercase;
                padding: 16px 5px;
            }
            @media #{$max-sm} { 
                display: none;
            }
        }
        &__body {
            li {
                position: relative;
                display: flex;
                gap: 1px;
                color: #1F1F1F;
                letter-spacing: -0.32px;
                @media #{$max-sm} {
                    flex-wrap: wrap;
                }
                > div {
                    padding: 16px 5px;
                    &.order-total {
                        .price {
                            display: inline-flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            flex-wrap: wrap;
                            justify-content: center;
                            gap: 5px;
                            del {
                                font-size: 14px;
                            }
                        }
                    }
                    &.order-action {
                    @include flex-center;
                        a {
                            background-color: transparent;
                            color: #000000;
                        }
                    }
                    @media #{$max-sm} {
                        flex-basis: 100% !important;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        justify-content: space-between;
                        padding: 10px 15px;
                        &::before {
                            content: attr(data-title);
                            display: inline-block;
                            font-weight: 600;
                        };
                        &.order-action {
                            justify-content: space-between;
                        }
                        &.order-id {
                            background-color: #EBEBEB;
                            &::before {
                                min-width: none;
                            }
                        }
                        + div {
                            border-bottom: thin solid #EBEBEB;
                        }
                    }
                }
                + li {
                    border-top: thin solid #EBEBEB;
                    @media #{$max-sm} { 
                        border: none;
                        margin-top: 15px;
                    }
                }
                .pxl-link {
                    position: absolute;
                    inset: 0;
                    z-index: 9;
                }
            }
        }
    }
    .order-tracking {
        margin-top: 100px;
        @media #{$max-lg} {
            margin-top: 85px;
        }
        @media #{$max-sm} {
            margin-top: 60px;
        }
        &__line {
            position: absolute;
            width: 90%;
            height: 1px;
            z-index: 0;
            left: 50%;
            transform: translateX(-50%);
            top: 43px;
            background-color: #EFEFEF;
            @media #{$max-xs} {
                left: 43px;
                top: 0;
                transform: translateX(0);
                width: 1px;
                height: 100%;
            }
        }
        &__progress {
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            max-width: 660px;
            margin: 0 auto;
            @media #{$max-xs} {
                flex-direction: column;
                justify-content: start;
            }
        }
        &__step {
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            &.active {
                .order-tracking__icon {
                    background-color: #FD5900;
                    color: #FFF;
                }
                .order-tracking__label {
                    color: #FD5900;
                }
            }
            @media #{$max-xs} {
                text-align: start;
                flex-direction: row;
            }
        }
        &__icon {
            display: inline-block;
            --pxl-box-size: 83px;
            @include flex-center;
            @include round-box;
            background-color: #EFEFEF;
            color: #FD5900;
        }
        &__label {
            display: block;
            margin-bottom: 4px;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.55556;
            text-transform: uppercase;
        }
        &__date {
            display: block;
            color: #1F1F1F;
            font-size: 14px;
            line-height: 1.42857;
        }
    }
    // .order-location {
    //     margin-top: 100px;
    //     @media 
    // }
    .order-customer {
        margin-top: 64px;
        border-radius: 20px;
        border: thin solid #EBEBEB;
        background-color: #FFF;
        padding: 32px 44px 32px 32px;
        @media #{$max-xs} {
            padding: 30px 15px;
        }
        &__inner {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--shipping, &--billing {
            flex: 0 1 299px;
        }
        &__title {
            color: #1F1F1F;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.55556;
            text-transform: uppercase;
            margin-bottom: 21px;
        }
        &__info {
            line-height: 1.8;
        }
    }
}

.order-detail {
    &__title {
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 36px;
    }
    .product {
        display: flex;
        gap: 20px;
        @media #{max-xs} {
            flex-direction: column;
        }
        &__featured {
            flex: 0 0 96px;
            @media #{max-xs} {
                flex: 0 0 100%;
            }
            position: relative;
            img {
                border-radius: 8px;
                max-width: 120px;
            }
        }
        &__quantity {
            position: absolute;
            top: -12px;
            right: -11px;
            text-align: center;
            line-height: 24px;
            width: 24px;
            background-color: #FD5900;
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            border-radius: 50%;
        }
        &__content {
            flex: 1 1 auto;
            @media #{max-xs} {
                flex: 0 0 100%;
            }
        }
        &__name {
            color:#1F1F1F;
            letter-spacing: -0.32px;
        }
        &__attributes {
            margin-top: 8px;
            color: #1F1F1F;
            font-size: 14px;
            line-height: 1.42857;
        }
        &__price {
            flex: 0 0 auto;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.55556;
            align-self: center;
        }
        + .product {
            margin-top: 20px;
        }
    }
    .divider {
        display: block;
        height: 1px;
        background-color: rgba($color: #A1A1A1, $alpha: .2);
        margin-block: 31.5px;
        border: none;
    }
    &__calc {
        &-item {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            color: #000;
            letter-spacing: -0.32px;
            text-transform: uppercase;
            + .order-detail__calc-item {
                margin-top: 15px;
            }
            &.order-detail__total {
                color: #000;
                font-size: 24px;
                font-weight: 500;
                line-height: 1.33333;
                text-transform: uppercase;
                .price {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    del {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.orders-content:has(.order-empty) {
    .elementor-widget-pxl_heading {
        display: none;
    }
}

.order-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__image {
        margin-bottom: 42px;
    }
    &__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.3125;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__note {
        margin-bottom: 32px;
    }
    .pxl-button {
        padding-inline: 40px;
        border: thin solid #FD5900;
        color: #FD5900;
        background-color: #FFF;
        &:hover {
            color: #FFF;
        }
    }
}