body {
    &:has(.widget_filter_button), &:has(.widget_komestic_widget_filter) {
        .shop-archive {
            .button--shop-filter {
                display: none;
            }
        }
        @media #{$max-md} {
			.shop-archive {
                .button--shop-filter {
                    display: flex;
                }
            }
		}
    }
    &.sidebar-shop--left {
        ul.products { 
            &.columns-4 {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .woocommerce-topbar { 
            .buttons {
                padding-right: 210px;
            }
        }
    }
    &.sidebar-shop--right {
        ul.products { 
            &.columns-4 {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .woocommerce-topbar {
            flex-direction: row-reverse;
            .buttons {
                padding-right: 0;
                padding-left: 210px;
            }
        }
    }
}
.woocommerce-shop {
    .wrapper {
        .main-content {
            padding-block: 64px;
            &__inner {
                &--left-sidebar, &--right-sidebar {
                    display: flex;
                    justify-content: space-between;
                    gap: 60px 30px;
                }
                .shop-archive {
                    flex: 0 1 1073px;
                    padding-top: 5px;
                }
                .sidebar {
                    flex: 0 1 328px;
                    &__filter {
                        gap: 12px;
                        font-weight: 600;
                        color: #1F1F1F;
                        height: 50px;
                        border:  thin solid #EBEBEB;
                        padding-inline: 18px;
                        border-radius: 4px;
                        background-color: #FFF;
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }
                }
                &--no-sidebar {
                    .shop-archive {
                        flex: 0 1 100%;
                        max-width: 100%;
                    }
                }
                @media #{$max-md} {
                    .shop-archive {
                        flex: 0 1 100%;
                    }
                }
            }
        }
    }
}

.woocommerce-pagination a.is-loading {
    pointer-events: none;
    opacity: 0.5;
}


.woocommerce-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 30px;
    margin-bottom: 37px;
    .buttons {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        gap: 24px;
        @media #{$max-md} {
            display: none;
        }
        button {
            padding: 0;
            border: none;
            gap: 2px;
            &.button--active, &:hover {
                color: #DD4C20;
            }
        }
    }
    .product-orderby {
        flex-shrink: 0;
        .pxl-nice-select  {
            height: 40px;
            text-transform: uppercase;
        }
    }
}

.woocommerce-result {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 10px 20px;
    @media #{$max-sm} {
        flex-direction: column;
        align-items: start;
    }
    .separator {
        height: 24px;
        width: 1px;
        display: block;
        background-color: #EBEBEB;
        @media #{$max-sm} {
            display: none !important;
        }
    }
    &-count {
        color: #1F1F1F;
        font-size: 18px;
        line-height: 34px;
        margin: 0 !important;
        letter-spacing: 0;
    }
    &:has(.woocommerce-result-key:empty) .separator {
        display: none;
    }
    &-key {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        .button--filter-key {
            gap: 10px;
            padding-inline: 20px;
            color: #1F1F1F;
            font-size: 18px;
            height: 34px;
            border-radius: 20px;
            border: thin solid #EBEBEB;
            background-color: transparent;
            text-transform: capitalize;
            .icon-close {
                width: 16px;
                height: 16px;
            }
            &:hover {
                &:hover, &:focus {
                    .icon-close {
                        &::before {
                            transform: translate(-50%, -50%) rotate(0);
                        }
                        &::after {
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }
            }
        }
        .button--clear-key {
            gap: 10px;
            padding-inline: 20px;
            color: #1F1F1F;
            font-size: 18px;
            height: 34px;
            border-radius: 20px;
            border: thin solid #EBEBEB;
            background-color: transparent;
            text-transform: capitalize;
            .icon-close {
                width: 16px;
                height: 16px;
            }
            color: #FFF;
            background-color: #252525;
            &:hover {
                &:hover, &:focus {
                    .icon-close {
                        &::before {
                            transform: translate(-50%, -50%) rotate(0);
                        }
                        &::after {
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }
            }
        }
    }
}

.woocommerce {
    .button--shop-filter {
        --pxl-background-color: #1F1F1F;
        background-color: #FFF;
        font-weight: 600;
        color: #1F1F1F;
        gap: 12px;
        border: thin solid #EBEBEB;
        height: 50px;
        padding-inline: 18px;
        text-transform: uppercase;
        &:hover {
            color: #FFF;
        }
    }
    ul.products {
        gap: 64px 30px;
        display: grid;
        margin: 0;
        &::before, &::after {
            display: none;
        }
        &.columns-2 {
            grid-template-columns: repeat(2, 1fr);
            @media #{$max-xs} {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &.columns-3 {
            grid-template-columns: repeat(3, 1fr);
            @media #{$max-lg} {
                grid-template-columns: repeat(2, 1fr);
            }
            @media #{$max-sm} {
                grid-template-columns: repeat(2, 1fr);
            }
            @media #{$max-xs} {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &.columns-4 {
            grid-template-columns: repeat(4, 1fr);
            @media #{$max-md} {
                grid-template-columns: repeat(3, 1fr);
            }
            @media #{$max-sm} {
                grid-template-columns: repeat(2, 1fr);
            }
            @media #{$max-xs} {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &.columns-5 {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
.pxl-products, .product-suggested[data-layout="1"], .related, .shop-archive .products  {
    .grid__inner {
        --pxl-spacing-block: 64px;
        --pxl-spacing-inline: 30px;
    }
    .product {
        margin: 0 !important;
        position: relative;
        width: 100% !important;
        position: relative;
        &:hover {
            .product__actions {
                .button--shop-action {
                    opacity: 1;
                }
            }
            .countdown {
                opacity: 0;
            }
            &:has(.pa_terms) {
                .selling-bar {
                    opacity: 0;
                    transform: translateY(100%);
                }
            }
            .pa_terms {
                transform: translateY(0);
            }
        }
        &__featured {
            position: relative;
            border-radius: 10px;
            background-color: #FFF;
            margin-bottom: 18px;
            overflow: hidden;
            img {
                margin: 0 !important;
            }
        }
        &__actions {
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            justify-content: center;
            padding: 15px 15px 56px;
            width: 100%;
            z-index: 1000;
            .button--shop-action {
                opacity: 0;
                // &::before {
                //     font-size: ;
                // }
            }
        }
        .pa_terms {
            position: absolute;
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            gap: 20px;
            background-color: rgba($color: #1B1B1B, $alpha: .5);
            padding: 6px;
            width: 100%;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            transition: transform .3s ease-in-out, opacity .3s linear;
            .pa_term {
                color: #FFF;
                font-family: var(--font-primary);
                font-size: 14px;
                font-weight: 600;
                line-height: 1.71429;
                text-transform: uppercase;
            }
        }
        .countdown {
            justify-content: center;
            position: absolute;
            bottom: 56px;
            left: 50%;
            transform: translateX(-50%);
            gap: 3px;
            min-width: 190px;
            padding-block: 10px;
            padding-inline: 15px;
            width: fit-content;
            color: #DD4C20;
            font-family: var(--font-primary);
            font-size: 16px;
            font-weight: 600;
            line-height: 1.625;
            text-transform: uppercase;
            border-radius: 4px;
            background-color: #FFF;
            @include box-shadow(0 2px 10px 0 rgba(171, 171, 171, 0.25));
            transition: clip-path .3s ease-in-out, opacity .3s ease-in-out;
            clip-path: inset(0 0 0 0);
            z-index: 999;
            transition: .3s;
            &__timer {
                flex-direction: row;
                gap: 0;
            }
        }
        .selling-bar {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #1B1B1B;
            padding-block: 6px;
            transition: transform .3s ease-in-out, opacity .3s ease-in-out;;
            .pxl-text-marquee {
                --pxl-spacing: 10px;
            }
            .text-marquee-item {
                gap: 10px;
                --pxl-duration: 15s;
            }
            p {
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.71429;
                text-transform: uppercase;
            }
        }
        &__content {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            align-items: end;
            @media #{$max-lg} {
                flex-direction: column;
                align-items: start;
                gap: 5px;
            }
        }
        &__name {
            color: #252525;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.625;
            text-transform: uppercase;
            a {
                @include hover-underline-slide;
            }
        }
        &__price {
            .price {
                display: inline-flex !important;
                flex-direction: column;
                align-items: end;
                margin: 0 !important;
                color: #1C1C1C;
                @media #{$max-lg} {
                    flex-direction: column;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 5px;
                }
                .product-label {
                    display: none;
                }
                // > .amount {
                //     color: #1C1C1C;
                //     font-size: 16px;
                //     line-height: 1.625;
                //     text-transform: uppercase;
                // }
                &--old {
                    color: rgba($color: #252525, $alpha: .6);
                    font-size: 14px;
                    line-height: 1.71429;
                    text-decoration-line: line-through;
                    text-transform: uppercase;
                }
                &--sale, &--normal {
                    color: #DD4C20;
                    font-size: 16px;
                    line-height: 1.625;
                    text-transform: uppercase;
                }
                &--normal {
                    color: #252525;
                }
            }
        }
        &__label {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            padding: 16px;
            gap: 6px;
            flex-wrap: wrap;
            .product-label {
                line-height: 26px;
                padding-inline: 10px;
                text-align: center;
                border-radius: 30px;
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                &--new {
                    background-color: #7D40C7;
                }
                &--onsale {
                    background-color: #DD4C20;
                }
                &--trending {
                    background-color: #A0B323;
                }
            }
        }
        &__attributes {
            margin-top: 15px;
            &:not(:has([data-attribute])) {
                display: none;
            }
            .variations {
                padding-right: 0;
                width: 100%;
                .wpcvs-terms {
                    gap: 5px;
                    width: 100%;
                    &:not(.wpcvs-type-button)  {
                        flex-wrap: nowrap;
                        overflow: scroll;
                        scrollbar-width: none; /* Firefox */
                        -ms-overflow-style: none; /* IE, Edge cũ */

                        &::-webkit-scrollbar {
                        display: none; /* Chrome, Safari */
                        }
                        .wpcvs-term {
                            flex-shrink: 0;
                            width: 32px;
                            height: 32px;
                            &-inner {
                                position: relative;
                                inset: auto;
                                width: 22px;
                                height: 22px;
                                line-height: 22px;
                            }
                            .wpcvs-type-button {
                                .wpcvs-term {
                                    min-width: 60px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .variation {
                    .label {
                        display: none;
                    }
                }
                .reset {
                    display: none;
                }
            }
        }
        .button--close-deactive {
            --pxl-box-size: 42px;
            position: absolute;
            @include box-shadow(0 1px 6px 0 rgba(191, 191, 191, 0.25));
            right: 10px;
            top: 10px;
            color: #1F1F1F;
            background-color: #FFF;
            z-index: 9999;
            .icon-close {
                width: 10px;
                height: 10px;
                &::after, &::before {
                    height: 1px;
                }
            }
        }
        &-categories {
            margin-bottom: 5px;
            > a {
                color: rgba($color: #252525, $alpha: .6);
                font-size: 12px;
                font-weight: 600;
                line-height: 1.83333;
                text-transform: uppercase;
            }
        }
    }
}

.shop-archive .products .product__attributes .variations .wpcvs-terms:not(.wpcvs-type-button) {
    flex-wrap: wrap;
}