.woocommerce-shop {
    .widget {
        padding-block: 10px 0px;
        &__title {
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
            color: var(--Heading, #1F1F1F);
            font-family: var(--heading-font);
            font-size: 18px;
            font-weight: 600;
            line-height: 1.55556;
            text-transform: uppercase;
        padding-block: 16px;
            cursor: pointer;
            &-icon {
                transition: transform .3s ease .3s;
            }
        }
        &__content {
            overflow: hidden;
            transition: height .3s linear;
            &-inner {
                padding-block: 16px 32px;
            }
        }
        &.is-close {
            .widget__title-icon {
                transform: scaleY(-1);
            }
        }
        + .widget {
            border-top: thin solid #EBEBEB;
        }
        &.widget_product_search {
            .woocommerce-product-search {
                position: relative;
                input.search-field {
                    font-family: var(--font-primary);
                    border-radius: 60px;
                    border: thin solid rgba($color: #3C3C3C, $alpha: .6);
                    background-color: #FFF;
                    line-height: 54px;
                    padding: 0 60px 0 30px;
                    color: rgba(64, 74, 61, 0.65);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                }
                button.search-submit {
                    &::before {
                        display: none;
                    }
                    --pxl-box-size: 44px;
                    @extend %pxl-round-box;
                    @extend %flex-center;
                    background-color: var(--color-primary);
                    position: absolute;
                    right: 9px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #FFF;
                    &:hover {
                        background-color: #FFF;
                        color: var(--color-primary);
                    }
                }
            }
        }
        &.widget_product_categories {
            border-top: none;
            .product-categories {
                list-style: none;
                margin: 0;
                .cat-item  {
                    a {
                        display: block;
                        color: #1F1F1F;
                        font-family: var(--font-primary);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.55556;
                        text-transform: uppercase;
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                    &__count {
                        font-weight: 400;
                    }
                    + .cat-item {
                        margin-top: 15px;
                    }
                }
            }
        }
        &.widget_tag_cloud {
            .tagcloud {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                > a {
                    color: #4F545A;
                    font-family: var(--font-primary);
                    font-size: 14px !important;
                    font-weight: 500;
                    text-transform: capitalize;
                    line-height: 35px;
                    padding: 0 31.5px;
                    border-radius: 4px;
                    border: 1px solid rgba($color: #3C3C3C, $alpha: .17);
                    background-color: #FFF;
                    &:hover {
                        background-color: #4F545A;
                        color: #FFF;
                    }
                }
            }
        }
        &.widget_price_filter {
            .price_slider_wrapper {
                padding-bottom: 30px;
                .price_slider {
                    background-color: rgba($color: #63AB52, $alpha: .3);
                    height: 3px;
                    margin: 0;
                    width: calc(100% - 24px);
                }
                .ui-slider-range {
                    background-color: #63AB52;
                }
                .ui-slider-handle {
                    width: 12px;
                    height: 12px;
                    border-radius: 1px;
                    background-color: #63AB52;
                    margin: 0;
                    top: -4.5px;
                    + .ui-slider-handle {
                        &::before {
                            transform: translateX(calc(-1 * (100% - 12px)));
                        }
                    }
                    &::before {
                        content: attr(data-price);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: block;
                        margin-top: 15px;
                    }
                }
                .price_slider_amount {
                    display: none;
                }
            }
        }
        &.widget_komestic_widget_shipping_delivery {
            .shipping-delivery {
                &__item {
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    &-icon {
                        --pxl-box-size: 64px;
                        @include round-box;
                        @include flex-center;
                        border: thin solid rgba($color: #DD4C20, $alpha: .4);
                    }
                    &-title {
                        color: #252525;
                        font-family: var(--font-primary);
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.5556;
                        text-transform: uppercase;
                    }
                    &-desc {
                        color: #777;
                        line-height: 1.625;
                    }
                    + .shipping-delivery__item {
                        margin-top: 32px;
                    } 
                }
            }
        }
        &.widget_komestic_widget_featured_products {
            .pxl-products {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .product {
                    display: flex;
                    gap: 15px;
                    > a {
                        display: none;
                    }
                    &__featured {
                        flex: 0 0 64px;
                        border-radius: 4px;
                        overflow: hidden;
                        padding: 0;
                        margin: 0;
                    }
                    &__content {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 5px;
                        align-items: start;
                    }
                    &__name, &__price {
                        color: #252525;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.57143;
                        text-transform: uppercase;
                    }
                    &__price {
                        .price {
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 5px;
                        }
                    }
                    &__label, .product-categories, .selling-bar, &__actions, .countdown{
                        display: none;
                    }
                    
                }
            }

        }
        &.widget_komestic_widget_socials {
            .social {
                display: flex;
                gap: 10px;
                &__item {
                    &-link {
                        --pxl-box-size: 47px;
                        @include round-box;
                        @include flex-center;
                        border-radius: 30px;
                        border: thin solid #EBEBEB;
                        background-color: #FFF;
                        color: #1F1F1F;
                    }
                }
            }
        }
        &.widget_filter_button {
            padding: 0;
            .widget__content-inner {
                padding-block: 0 6px;
            }
            .button--shop-filter {
                display: flex;
            }
        }
    }
}