#pxl-post-title {
	> .container {
		max-width: 1320px;
	}
	.post-title__inner {
		padding-block: 120px;
		text-align: center;
		@media #{$max-sm} {
			padding-block: 100px;
		}	
		> h3 {
			-ms-word-wrap: break-word;
			word-wrap: break-word;
			text-align: center;
		}
	}
}
#pxl-page-title {
	> .container {
		max-width: 1320px;
	}
	.page-title__inner {
		padding-block: 120px;
		text-align: center;
		@media #{$max-sm} {
			padding-block: 100px;
		}	
		> h3 {
			-ms-word-wrap: break-word;
			word-wrap: break-word;
			text-align: center;
		}
	}
}