.admin-bar {
    .sidebar {
        &--shop-filter { 
            top: 32px;
        }
    }
}
.sidebar {
    .loader {
        svg {
            width: 36px;
        }
    }
    &--shopping-cart {
        .sidebar {
            &__inner {
                padding: 32px 32px 0;
                height: 100vh;
                overflow-y: scroll;
                &:has(.empty) {
                    .sidebar__footer {
                        opacity: 0;
                        transform: translateY(100%);
                        pointer-events: none;
                    }
                }
            }
            &__title {
                margin-bottom: 48px;
            }
            &__header {
                margin-bottom: 52px;
            }
            &__products-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px 30px;
                flex-wrap: wrap;
                padding-bottom: 20px;
                border-bottom: thin solid #EBEBEB;
                color: #1F1F1F;
                .pxl-cart-count {
                    text-transform: uppercase;
                }
                .cart-empty {
                    line-height: 1;
                }
            }
            &__footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #FFF;
                @include box-shadow(0 -4px 10px 0 rgba(212, 212, 212, 0.25));
                transition: all .5s ease;
                transform: translateY(0);
                pointer-events: auto;
            }
        }
        .button--close {
            --pxl-box-size: 32px;
            position: absolute;
            right: 16px;
            top: 16px;
            background-color: #FFF;
            color: #000;
            background-color: transparent;
            .icon-close { 
                width: 16px;
                height: 16px;
            }
        }
        .free-shipping {
            &__title {
                text-align: start;
            }
        }
        .pxl-cart-products {
            list-style: none;
            margin: 0;
            padding-bottom: 321px;
            .product {
                padding-block: 20px;
                display: flex;
                gap: 20px;
                &__thumbnail {
                    flex: 0 0 100px;
                    img {
                        border-radius: 6px;
                    }
                }
                &__name {
                    display: block;
                    color: #1F1F1F;
                    font-weight: 500;
                    letter-spacing: -0.16px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }
                &__content {
                    flex: 1 1 auto;
                }
                &__attributes {
                    display: block;
                    color: #818181;
                    font-size: 14px;
                    line-height: 1.42857;
                    margin-bottom: 10px;
                }
                &__price {
                    flex: 0 0 auto;
                    color: #000;
                    font-size: 18px;
                    line-height: 1.55556;
                    align-self: center;
                    margin-top: 8px
                }
                .product__quantity {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    color: #1F1F1F;
                    font-size: 14px;
                    line-height: 1.42857;
                    margin-bottom: 15px;
                    .quantity {
                        > input {
                            background-color: transparent;
                            height: 24px;
                            width: 51px;
                            color: #1F1F1F;
                            letter-spacing: -0.32px;
                        }
                        .quantity-icon {
                            --pxl-box-size: 10px;
                        }
                    }
                }
                
                .remove {
                    @include underline;
                    display: inline-block;
                    line-height: 1;
                    color: #1F1F1F !important;
                    font-size: 14px;
                    line-height: 1;
                    margin-top: 17px;
                    height: auto;
                    width: auto;
                    border-radius: 0;
                    font-weight: 400;
                }
            }
            .empty {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                align-items: center;
                padding-block: 120px;
                color: #000;
                i {
                    font-size: 36px;
                }
                .button-cart-empty {
                    margin-top: 15px;
                    --pxl-background-color: #FFF;
                    border: thin solid #FD5900;
                    width: 100%;
                    font-weight: 500;
                    &:hover {
                        color: #FD5900;
                    }
                }
            }
        }
        .cart-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            max-width: 458px;
            margin: 0 auto;
            height: 90px;
            padding-inline: 30px;
            &__item {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                text-align: center;
                color: #252525;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.42857;
                cursor: pointer;
                svg {
                    color: #000;
                    transition: scale .3s linear;
                }
                &:hover {
                    color: #FD5900;
                    svg {
                        scale: 1.15;;
                    }
                }
            }
        }
        .cart-total {
            padding: 24px 32px 0 32px;
            border-top: thin solid #EBEBEB;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #1F1F1F;
            font-size: 18px;
            line-height: 1.55556;
            text-transform: uppercase;
        }
        .cart-buttons {
            padding: 32px;
            .pxl-button {
                width: 100%;
                font-weight: 500;
                text-transform: capitalize;
            }
            .button-cart {
                --pxl-background-color: #1F1F1F;
                color: #1F1F1F;
                border-radius: 6px;
                border: thin solid rgba($color: #111111, $alpha: .15);
                backdrop-filter: blur(2px);
                background-color: #FFF;
                &:hover {
                    color: #FFF;
                }
            }
            .button-checkout {
                margin-top: 10px;
                --pxl-background-color: #FFF;
                border: thin solid #FD5900;
                &:hover {
                    color: #FD5900;
                }
            }
        }
        .cart-section {
            flex-direction: column;
            position: absolute;
            left: 0;
            bottom: 0;
            min-height: 100%;
            width: 100%;
            background-color: #FFF;
            padding: 32px;
            z-index: 99;
            justify-content: space-between;
            gap: 30px;
            @include box-shadow(0 -4px 10px 0 rgba(212, 212, 212, 0.25));
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all .5s ease;
            display: flex;
            &.active {
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
                pointer-events: visible;
            }
            &__title {
                font-weight: 500;
                color: #252525;
                line-height: 1.5;
                margin-bottom: 16px;
            }
            &__note {
                color: #777;
                line-height: 1.5;
                .amount {
                    color: #252525;
                }
            }
            &__form {
                #shipping-calculator-form {
                    display: block !important;
                }
                .form-row {
                    &:has(input[type="hidden"]) {
                        display: none;
                    }
                    + .form-row {
                        margin-top: 14px;
                    }
                    label, .label {
                        display: block;
                        color: #252525;
                        margin-bottom: 10px;
                    }
                    input, select {
                        border-radius: 6px;
                        border: 1px solid rgba($color: #A1A1A1, $alpha: .2);
                        height: 56px;
                        padding-inline: 10px;
                        color: #777;
                        font-family: "DM Sans";
                        font-size: 16px;
                        letter-spacing: -0.32px;
                        &:hover, &:focus {
                            color: #252525;
                        }
                    }
                }
                .pxl-shipping {
                    margin-top: 20px;
                }
                .shipping__note {
                    margin-bottom: 4px;
                }
                .pxl-shipping-result {
                    display: block;
                    color: #1CAA23;
                }
            }
            textarea {
                border: thin solid #EBEBEB;
                padding: 16px;
                height: 126px;
                color: #777;
                line-height: 1.5;
                letter-spacing: -0.32px;
            }
            &__buttons {
                justify-self: end;
                display: flex;
                gap: 10px;
                .pxl-button {
                    width: 50%;
                    backdrop-filter: blur(2px);
                    text-transform: capitalize;
                }
                .button-cancel {
                    --pxl-background-color: #1F1F1F;
                    color: #1F1F1F;
                    border: thin solid rgba($color: #111111, $alpha: .15);
                    background-color: #FFF;
                    &:hover {
                        color: #FFF;
                    }
                }
                .button-submit {
                    --pxl-background-color: #FFF;
                    border: thin solid #FD5900;
                    &:hover {
                        color: #FD5900;
                    }
                }
            }
        }
    }
}