.pxl-drawer {
    position: fixed;
    display: block !important;
    width: 100%;
    z-index: 99999;
    background-color: #FFF;
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transition: transform .5s ease, opacity .5s ease .5s;
    &[data-drawer="top"] {
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }
    &[data-drawer="right"] {
        max-width: 535px;
        right: 0;
        top: 0;
        transform: translateX(100%);
    }
    &[data-drawer="bottom"] {
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }
    &[data-drawer="left"] {
        max-width: 535px;
        left: 0;
        top: 0;
        transform: translateX(-100%);
    }
    &.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0) translateY(0);
        transition: transform .5s ease, opacity 0s ease;
    }
}

.pxl-template {
    pointer-events: none !important;
    width: 100%;
    &.pxl-drawer {
        background-color: transparent;
        pointer-events: none;
    }
}

.pxl-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transition: transform .5s ease, opacity .5s ease;
    z-index: 99999;
    &.active {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        pointer-events: auto;
    }
}

body {
    img.mfp-img {
        padding: 0 !important;
    }
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.85;
        background-color: #000;
    }
    .mfp-bottom-bar {
        margin-top: 0;
    }
    .mfp-wrap .mfp-container {
        .mfp-content {
            max-width: 1170px;
            position: static;
            .mfp-close {
                padding: 0;
                right: 0;
                text-align: center;
                top: -36px;
                width: 36px;
                height: 36px;
                border-radius: 0;
                background: rgba(#fff, 0.12);
                cursor: pointer;
                opacity: 1;
             	font-size: 0px;
             	border: 9px solid transparent;
             	position: absolute;
             	&:before, &:after {
			        content: '';
			        position: absolute;
			        height: 2px;
			        width: 100%;
			        top: 50%;
			        left: 0;
			        margin-top: -1px;
			        transform-origin: 50% 50%;
			        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
			        background-color: #fff;
			    }
			    &:before {
			        @include transform(rotate(45deg));
			    }
			    &:after {
			        @include transform(rotate(-45deg));
			    }
			    &:hover {
			        &:before, &:after {
			            @include transform(rotate(0deg));
			        }
			    }
            }
        }
        .mfp-iframe-scaler {
            position: relative;
            overflow: visible;
        }
        .mfp-arrow {
            background-color: var(--color-primary);
            width: 60px;
            height: 120px;
            opacity: 1;
            position: absolute;
            &:before, &:after {
                border: none;
            }
            &:before {
                font-family: "Caseicon";
                font-size: 20px;
                color: #fff;
                margin: 0;
                padding: 0;
                line-height: normal;
                position: absolute;
                top: 50%;
                display: block;
                @include transform(translate(-50%, -50%));
                opacity: 1;
                left: 50%;
                width: auto;
                height: auto;
            }
            &.mfp-arrow-left:before {
              content: "\f136";
            }
            &.mfp-arrow-right:before {
              content: "\f14d";
            }
        }
    }
    @media #{$min-xl} {
        .mfp-wrap .mfp-container {
            padding: 0 120px;
        }
    }
}

.mfp-gallery .mfp-image-holder .mfp-figure {
	&::after {
		background: transparent;
	}
}

.progress-bar {
    &--round {
        .progress-bar__track {
            border-radius: 4px;
        }
    }
    &__track {
        width: 100%;
        height: 6px;
        background-color: #FFE2D2;
        &:has(.bar--full) {
            padding-right: 17px;
        }
        &:has(.bar--zero) {
            padding-left: 17px;
        }
    }
    &__bar {
        position: relative;
        height: 100%;
        border-radius: inherit;
        color: #FFF;
        background-color: #FD5900;
    }
    &__icon {
        --pxl-box-size: 34px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        @include round-box;
        @include flex-center;
        background-color: inherit;
        transition: all .5s linear;
    }
}


.product-filter {
    ul {
        list-style: none;
        margin: 0;
    }
    &__section {
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            padding-block: 16px;
            color: var(--Heading, #1F1F1F);
            font-size: 18px;
            font-weight: 600;
            line-height: 1.55556;
            text-transform: uppercase;
        }
        + .product-filter__section {
            border-top: thin solid rgba($color: #111111, $alpha: .15);
        }
        &--price {
            margin-bottom: 32px;
            .product-filter__section-header {
                margin-bottom: 39px;
            }
        }
        &--attr, &--brand {
            padding-bottom: 16px;
            .product-filter__list {
                max-height: 226px;
                overflow-y: scroll;
                scrollbar-gutter: stable;
                padding-bottom: 0;
            }
        }

        &--category {
            .filter-item--cat {
                &.ckecked {
                    color: #FD5900;
                }
            }
        }
    }
    &__list {
        padding-block: 16px 32px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-item {
            color: #1F1F1F;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.55556;
            text-transform: uppercase;
            .pxl-count-item {
                font-weight: 400;
            }
        }
    }
    .price-fields {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 23px;
        .price-label, input, .currency {
            color: #1F1F1F;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.55556;
            text-transform: uppercase;
        }
        .price-range {
            display: inline-flex;
            align-items: center;
            gap: 16px;
        }
        .price-field {
            position: relative;
            justify-content: space-between;
            gap: 5px;
            input {
                width: 77px;
                height: 44px;
                padding-inline: 26px 10px;
                border-radius: 4px;
                text-align: end;
            }
            .currency {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }
        }
        .separator {
            display: inline-block;
            width: 12px;
            height: 1px;
            background-color: #000;
        }
    }
}


#pxl-quick-view {
    .summary {
        display: flex;
        position: relative;
        .product-images {
            flex: 0 1 53%;
        }
        .product-content {
            flex: 0 1 47%;
        }
        @media #{$max-md} {
            .product-images, .product-content {
                flex: 0 1 50%;
            }
        }
        @media #{$max-sm} {
            flex-wrap: wrap;
            .product-images {
                display: none;
            }
            .product-content {
                flex: 0 1 100%;
            }
        }
        .product-images {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            
        }
        .product-content {
            padding: 48px 39px 50px 41px;
            overflow: auto;
            display: flex;
            max-height: fit-content;            
            flex-direction: column;
            @media #{$max-lg} {
                padding: 40px 30px;
            }
            .product-title {
                color: #1F1F1F;
                font-size: 23px;
                font-weight: 500;
                line-height: 1.43478;
                text-transform: capitalize;
                margin-bottom: 16px;
            }
            .product-price {
                .price {
                    flex-direction: row-reverse;
                    justify-content: start;
                }
                .price, .price--normal, .price--sale {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.33333;
                    color: #1F1F1F;
                }
                .price--old {
                    color: rgba(28, 28, 28, 0.60);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.55556;
                }
                margin-bottom: 20px;
            }
            .product-short-desc {
                margin-bottom: 22px;
            }
            .product-add-to-cart {
                .variations {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    .wpcvs-terms {
                        justify-content: end;
                        text-align: end;
                        &.wpcvs-type-image {
                            .wpcvs-term {
                                width: 40px;
                                height: 40px;
                                .wpcvs-term-inner {
                                    inset: 3px;
                                }
                            }
                        }
                        &.wpcvs-type-button {
                            .wpcvs-term {
                                height: 46px;
                                min-width: 48px;
                                border: none;
                                background-color: transparent;
                                font-weight: 400;
                                &:hover, &.wpcvs-selected {
                                    background-color: #1F1F1F;
                                    color: #FFF;
                                }
                            }
                        }
                    }
                    .wpcvs-attribute {
                        display: flex;
                        justify-content: space-between;
                        gap: 5px 15px;
                        align-items: center;
                        min-height: 70px;
                        border-bottom: thin solid rgba($color: #111111, $alpha: .15);
                        margin: 0;
                        padding-block: 10px;
                        @media #{$max-lg} {
                            flex-direction: column;
                            align-items: start;
                            min-height: auto;
                        }
                        .label {
                            margin: 0;
                            letter-spacing: -0.32px;
                            flex: 0 0 150px;
                            @media #{$max-lg} {
                                flex: 0 1 auto;
                            }
                        }
                        .value {
                            display: inline-flex;
                        }
                    }
                }
                .quantity-wrap {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    justify-content: space-between;
                    padding-block: 10px;
                    border-bottom: thin solid rgba($color: #111111, $alpha: .15);
                    margin-bottom: 42px;
                    .quantity-preview {
                        margin: 0;
                    }
                }
                .single_add_to_cart_button:not(.wpcbn-btn) {
                    display: none;
                }
                form.cart {
                    margin-bottom: 0;
                }
                .product-actions {
                    margin-bottom: 15px;
                    .single_add_to_cart_button {
                        display: flex;
                    }
                    .button--shop-action {
                        font-weight: 500;
                    }
                }
            }
            .link-view {
                margin-top: 42px;
            }
        }
    }
}

#pxl-quick-add {
    .product {
        height: 100%;
        overflow: auto;
        &-top {
            display: flex;
            gap: 15px;
            margin-bottom: 24px;
            padding-right: 20px;
            @media #{$max-sm} {
                flex-direction: column;
            }
        }
        &-image {
            flex: 0 0 107px;
        }
        &-content {
            .product-title {
                color: #1F1F1F;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.55556;
                text-transform: capitalize;
                margin-bottom: 8px;
            }
            .product-price {
                .price {
                    flex-direction: row-reverse;
                    justify-content: start;
                }
                .price, .price--normal, .price--sale {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.33333;
                    color: #1F1F1F;
                }
                .price--old {
                    color: rgba(28, 28, 28, 0.60);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.55556;
                }
            }
        }
        .product-add-to-cart {
            .variations {
                padding: 0;
                margin: 0;
                width: 100%;
                .wpcvs-terms {
                    justify-content: end;
                    text-align: end;
                    &.wpcvs-type-image {
                        .wpcvs-term {
                            width: 40px;
                            height: 40px;
                            .wpcvs-term-inner {
                                inset: 3px;
                            }
                        }
                    }
                    &.wpcvs-type-button {
                        .wpcvs-term {
                            height: 46px;
                            min-width: 48px;
                            border: none;
                            background-color: transparent;
                            font-weight: 400;
                            &:hover, &.wpcvs-selected {
                                background-color: #1F1F1F;
                                color: #FFF;
                            }
                        }
                    }
                }
                .wpcvs-attribute {
                    display: flex;
                    justify-content: space-between;
                    gap: 5px 15px;
                    align-items: center;
                    min-height: 70px;
                    border-bottom: thin solid rgba($color: #111111, $alpha: .15);
                    margin: 0;
                    padding-block: 10px;
                    @media #{$max-lg} {
                        flex-direction: column;
                        align-items: start;
                    }
                    .label {
                        margin: 0;
                        letter-spacing: -0.32px;
                        flex: 0 0 150px;
                        @media #{$max-lg} {
                            flex: 0 1 auto;
                        }
                    }
                    .value {

                    }
                }
            }
            .quantity-wrap {
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: space-between;
                padding-block: 10px;
                border-bottom: thin solid rgba($color: #111111, $alpha: .15);
                margin-bottom: 42px;
                .quantity-preview {
                    margin: 0;
                }
            }
            .single_add_to_cart_button:not(.wpcbn-btn) {
                display: none;
            }
            form.cart {
                margin-bottom: 0;
            }
            .product-actions {
                margin-bottom: 15px;
                .single_add_to_cart_button {
                    display: flex;
                    font-size: 16px;
                }
                .button--shop-action {
                    font-weight: 500;
                }
            }
        }
    }
}

#pxl-compare-list {
    display: flex;
    gap: 24px;
    width: 100%;
    overflow: auto;
    .product {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        flex: 0 1 25%;
        &-image {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
        }
        &-content {
            text-align: center;
        }
        &-title {
            color: #1F1F1F;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.625;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &-price {
            display: flex;
            gap: 10px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .price--normal, .price--sale {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
        }
        .price--old {
            color: rgba($color: #1C1C1C, $alpha: .6);
            font-size: 13px;
            font-weight: 400;
            line-height: 1.53846;
        }
        .remove-compare {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            min-width: 30px;
            border: thin solid #CACACA;
            background-color: #FFFFFF;
            border-radius: 6px;
            color: #1F1F1F;
            .icon-close {
                width: 8px;
                height: 8px;
                &::after, &::before {
                    height: 1px;
                }
            }
            &:hover {
                background-color: #1F1F1F;
                color: #FFF;
                border-color: #1F1F1F;
            }
        }
    }
    .compare-empty {
        display: block;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        padding: 15px;
        width: 100%;
    }
}