.pxl-header {
    position: static;
    &.default {
        .container {
            max-width: 1822px;
        }
    }
    &.elementor {
        .header-desktop, .header-sticky {
            .header-inner {
                display: block;
                background-color: transparent;
            }
        }
        .container {
            max-width: 100%;
            padding: 0;
        }
        .header-mobile {
            .container {
                padding-inline: 15px;
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
    }
    .header-inner {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        background-color: #FFF;
    }
    .site-logo {
        img {
            width: auto;
            height: 36px;
        }
    }
}
.pxl-menu-main {
    position: static;
    .sub-menu {
        z-index: 999;
    }
    > li {
        text-transform: uppercase;
    }
    li {
        color: #1F1F1F;
        font-size: 16px;
        line-height: 1.625;
        font-family: var(--font-primary);
        .drop-down {
            display: none;
        }
        &.menu-item-has-children {
            > a {
                .drop-down {
                    display: inline-block;
                    transition: transform .3s linear;
                }
            }
        }
        > a {
            display: flex;
            align-items: center;
            gap: 8px;
            color: inherit;
            transition: all .3s linear;
        }
        &:hover {
            color: var(--color-primary);
        }
    }
}
.header-desktop, .header-sticky {
    @media #{$max-lg} {
        display: none;
    }
    .pxl-menu-main {
        display: flex;
        gap: 30px;
        > li > a {
            height: 100px;
        }
        li {
            position: relative;
            display: flex;
            align-items: center;
            &.menu-item-has-children {
                &:hover {
                    > a {
                        .drop-down {
                            transform: scaleY(-1);
                        }
                    }
                }
            }
            &.pxl-megamenu {
                position: static;
            }
            .sub-menu {
                opacity: 0;
                visibility: hidden;
                transition: .3s linear;
                padding-block: 15px;
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 250px;
                background-color: #FFF;
                .sub-menu {
                    top: 0;
                    left: 100%;
                }
                &.submenu-reverse:not(.pxl-mega-menu) {
                    left: auto !important;
                    right: 100% !important;
                }
                &.pxl-mega-menu {
                    padding: 0;
                    width: 100%;
                    background-color: transparent;
                    pointer-events: none;
                }
                > li {
                    text-transform: uppercase;
                    > a {
                        padding: 5px 30px;
                        justify-content: space-between;
                        gap: 0;
                        > span {
                            margin-right: 8px;
                        }
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 0;
                            height: 1px;
                            background-color: currentColor;
                            transition: .3s linear;
                        }
                    }
                    &:hover {
                        > a {
                            &::before {
                                width: 16px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
            &:hover {
                > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.header-mobile {
    display: none;
    @include box-shadow(0 4px 15px 0 rgba(163, 163, 163, 0.25));
    @media #{$max-lg} {
        display: block;
    }
    .header-inner {
        min-height: 80px;
    }
    .mobile-sidebar {
        pointer-events: none;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #FFF;
        z-index: 99999;
        transform: translateX(-100%);
        transition: transform .3s ease .3s;
        &.active {
            transform: translateX(0);
            pointer-events: auto;
            .button-close {
                width: 25px;
                .button__icon {
                    transform: rotate(-90deg) scale(-1);
                }
            }
        }
        .sidebar-wrap {
            width: 320px;
            height: 100vh;
            padding: 45px 30px;
            overflow-y: scroll;
        }
        .sidebar-inner {
            .site-logo {
                margin-bottom: 30px;
            }
            .search-form {
                position: relative;
                margin-bottom: 45px;
                .search-field {
                    padding-inline: 15px 55px;
                }
                .search-submit {
                    position: absolute;
                    width: 50px;
                    height: 100%;
                    right: 0;
                    top: 0;
                    svg {
                        width: 18px;
                        height: auto;
                    }
                    &:hover {
                        background-color: var(--color-tertiary);
                    }
                }
            }
            .pxl-menu-main {
                li {
                    &.menu-item-has-children {
                        &.active {
                            > a {
                                .drop-down {
                                    transform: scaleY(-1);
                                }
                            }
                        }
                    }
                }
                a {
                    justify-content: space-between;
                    padding-block: 5px;
                }
                > li {
                    > .sub-menu {
                        > li {
                            > a {
                                padding-left: 15px;
                            }
                            > .sub-menu {
                                > li {
                                    > a {
                                        padding-left: 30px;
                                    }
                                    > .sub-menu {
                                        > li {
                                            > a {
                                                padding-left: 45px;
                                            }
                                            > .sub-menu {
                                                > li {
                                                    > a {
                                                        padding-left: 60px;
                                                    }
                                                    > .sub-menu {
                                                        > li {
                                                            > a {
                                                                padding-left: 85px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .sub-menu {
                    height: 0;
                    overflow: hidden;
                }
            }
        }
        .button-close {
            position: absolute;
            width: 0;
            height: 80px;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            transform-origin: left center;
            overflow: hidden;
            .button__icon {
                transition: transform .3s ease .6s;
                transform: rotate(-90deg);
            }
        }
    }
}
.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transform: translateY(-105%);
    transition: transform .5s ease;
    will-change: transform;
}

// Anchor Button
.pxl-button.mobile-button-toggle {
    background-color: transparent;
    .hamburger {
        overflow: hidden;
        width: 30px;
        height: 21px;
        cursor: pointer;
        position: relative;
        .line {
            height: 3px;
            position: absolute;
            right: 0;
            border-radius: 3px;
            &:before, &:after {
                content: '';
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                right: 0;
                background: #000000;
                opacity: 1;
                width: 100%;
                border-radius: 3px;
            }
            &:before {
                @include transform(translate3d(100%,0,0));
            }
            &:after {
                @include transform(translate3d(0,0,0));
            }
            &.line-1 {
                top: 0;
                width: 22px;
            }
            &.line-2 {
                top: 50%;
                width: 100%;
                transform: translate(0, -50%);
            }
            &.line-3 {
                width: 16px;
                bottom: 0;
            }
        }
    }
    &:hover {
        .line {
            &.line-1 {
                &:before {
                    @include transform(translate3d(0,0,0));
                    opacity: 1;
                    @include transition(transform .8s cubic-bezier(.215,.61,.355,1) 460ms,opacity .8s cubic-bezier(.215,.61,.355,1) 460ms);
                }
                &:after {
                    @include transform(translate3d(-36px,0,0));
                    opacity: 0;
                    @include transition(transform .6s cubic-bezier(.165,.84,.44,1) 0s,opacity .6s cubic-bezier(.165,.84,.44,1) 0s);
                }
            }
            &.line-2 {
                &:before {
                    @include transform(translate3d(0,0,0));
                    opacity: 1;
                    @include transition(transform .8s cubic-bezier(.215,.61,.355,1) 620ms,opacity .8s cubic-bezier(.215,.61,.355,1) 620ms);
                }
                &:after {
                    @include transform(translate3d(-36px,0,0));
                    opacity: 0;
                    @include transition(transform .6s cubic-bezier(.165,.84,.44,1) 160ms,opacity .6s cubic-bezier(.165,.84,.44,1) 160ms);
                }
            }
            &.line-3 {
                &:before {
                    @include transform(translate3d(0,0,0));
                    opacity: 1;
                    @include transition(transform .8s cubic-bezier(.215,.61,.355,1) 780ms,opacity .8s cubic-bezier(.215,.61,.355,1) 780ms);
                }
                &:after {
                    @include transform(translate3d(-36px,0,0));
                    opacity: 0;
                    @include transition(transform .6s cubic-bezier(.165,.84,.44,1) 320ms,opacity .6s cubic-bezier(.165,.84,.44,1) 320ms);
                }
            }
        }
    }
}

@-moz-keyframes PXL_Header_SlideDown{
  0%{ 
    margin-top:-150px;
  }
  100%{
    margin-top:0
  }
}
@-ms-keyframes PXL_Header_SlideDown{
  0%{ 
    margin-top:-150px;
  }
  100%{
    margin-top:0
  }
}
@-webkit-keyframes PXL_Header_SlideDown{
  0%{ 
    margin-top:-150px;
  }
  100%{
    margin-top:0
  }
}
@keyframes PXL_Header_SlideDown{
  0%{ 
    margin-top:-150px;
  }
  100%{
    margin-top:0
  }
}