.single {
    &.single-post {
        .widget .widget__title {
            margin-bottom: 24px;
        }
        .blog-article {
            &__content {
                margin-bottom: 136px;
            }
            &__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 32px;
                flex-wrap: wrap;
                margin-bottom: 120px;
            }
            &__tags {
                display: inline-flex;
                gap: 6px;
                flex-wrap: wrap;
                .blog-article__tag {
                    --pxl-background-color: #383838;
                    color: #383838;
                    font-size: 14px;
                    height: 32px;
                    padding-inline: 20px;
                    border-radius: 5px;
                    background-color: #FFCFC8;
                    &:hover {
                        color: #FFF;
                    }
                }
            }
            &__share {
                display: inline-flex;
                gap: 10px 21px;
                align-items: center;
                &-label {
                    color: #1F1F1F;
                }
                &-list {
                    display: inline-flex;
                    gap: 8px;
                    flex-wrap: wrap;
                }
                &-link {
                    --pxl-box-size: 48px;
                    border: thin solid #9E9E9E;
                    background-color: #FFF;
                    color: #1F1F1F;
                    svg {
                        min-height: 16px;
                        width: auto;
                    }
                    &:hover {
                        color: #FFF;
                        border-color: #1F1F1F;
                        background-color: #1F1F1F;
                    }
                }
            }
            &__navigation {
                display: flex;
                flex-wrap: wrap;
                gap: 30px 15px;
                justify-content: space-between;
                flex: 0 1 100%;
                padding-block: 31px;
                border-top: thin solid rgba($color: #111111, $alpha: .15);
                border-bottom: thin solid rgba($color: #111111, $alpha: .15);
                &-button {
                    --pxl-background-color: #252525;
                    border-radius: 4px;
                    border: thin solid #EBEBEB;
                    background-color: #FFF;
                    padding-inline: 30px;
                    height: 46px;
                    font-weight: 500;
                    color: #252525;
                    min-width: 184px;
                    text-transform: uppercase;
                    &:hover {
                        color: #FFF;
                        border-color: var(--pxl-background-color)
                    }
                    &--empty {
                        cursor: not-allowed;
                    }
                }
            }
        }
        .comment {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .comment {
                gap: 0;
            }
            &__item {
                &.depth-2 {
                    margin-left: 33px;
                }
                &.depth-3 {
                    margin-left: 66px;
                }
                &-inner {
                    padding-block: 15px;
                }
                &-user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                }
                &-content {
                    margin-bottom: 5px;
                }
                &-date {
                    font-size: 14px;
                }
            }
            &__user {
                &-avatar {
                    > img {
                        --pxl-box-size: 66px;
                        @include round-box;
                    }
                }
                &-name {
                    font-weight: 500;
                    font-size: 18px;
                    color: #111111;
                }
            }
            &__form {
                &-title {
                    text-transform: capitalize;
                    margin-bottom: 32px;
                    position: relative;
                    padding-right: 51px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    #cancel-comment-reply-link {
                        font-size: 0;
                        @include box-close;
                    }
                }
                &-note, .logged-in-as {
                    color: #1F1F1F;
                    margin-bottom: 32px;
                    .require {
                        margin-left: 5px;
                    }
                }
                &-fields {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    margin-bottom: 5px;
                }
                &-field-group {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;
                }
                &-field {
                    display: flex;
                    flex: 1 1 360px;
                    &--comment {
                        flex: 0 1 auto;
                    }
                    input, textarea {
                        color: #1F1F1F;
                        font-size: 16px;
                        letter-spacing: -0.32px;
                        border-radius: 6px;
                    }
                    textarea {
                        padding: 13px 24px;
                        height: 184px;
                    }
                }
                .comment-form-cookies-consent {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    gap: 5px;
                }

                &-submit {
                    margin-top: 32px;
                    button {
                        --pxl-background-color: #FF6333;
                        background-color: #252525;
                        text-transform: uppercase;
                        color: #FFF;
                    }
                }
            }
        }
    } 
}