.pxl-item-link, .pxl-box-link {
    @extend .pxl-absolute-full;
    z-index: 99;
}

.full-width {
    width: 100%;
}

.pxl-background-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
}
.pxl-image-highlight, .pxl-svg-highlight {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
}

.text-image {
    background-size: cover;
    background-position: center center;
	-webkit-background-clip: text;
	color: transparent;
}

.el-empty:empty {
    display: none !important;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pxl-background-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    transition: all .3s linear;
}
.text-default {
    font-weight: 500;
    line-height: 1.75;
}

.overflow-hidden-y {
    overflow-y: hidden;
}

.pxl-line-wrap {
    overflow: hidden !important;
}

.pxl-backdrop-filter {
    backdrop-filter: blur(5px);
}
.text-gradient {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    background: -webkit-linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.hover-link-parent-temporary {
    &:hover {
        .pxl-icon-wrapper {
            .pxl-icon-item {
                background-color: #3B44CD !important;
            }
        }
    }
}

.text-animated {
    visibility: hidden;
}
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pxl-flex-jc-start {
    display: flex;
    justify-content: start;
}
.pxl-flex-jc-center {
    display: flex;
    justify-content: center;
}
.pxl-flex-jc-around {
    display: flex;
    justify-content: space-around;
}
.pxl-flex-jc-evenly {
    display: flex;
    justify-content: space-evenly;
}
.pxl-flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.pxl-flex-ai-start {
    display: flex;
    align-items: start;
}

.pxl-flex-ai-center {
    display: flex;
    align-items: center;
}

.pxl-flex-ai-end {
    display: flex;
    align-items: end;
}

.pxl-absolute-full {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.pxl-absolute-center {
    --pxl-translate-x: -50%;
    --pxl-translate-y: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--pxl-translate-x), var(--pxl-translate-y));
}

.pxl-absolute-tl {
    position: absolute;
    left: 0;
    top: 0;
}

.pxl-absolute-bl {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pxl-absolute-br {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pxl-absolute-tr {
    position: absolute;
    right: 0;
    top: 0;
}

%pxl-round-box {
    width: var(--pxl-box-size);
    min-width: var(--pxl-box-size);
    height: var(--pxl-box-size);
    border-radius: 50%;
}

.pxl-square-box {
    width: var(--pxl-box-size);
    min-width: var(--pxl-box-size);
    height: var(--pxl-box-size);
}

.pxl-background-center {
    background: center center / cover no-repeat;
}

.pxl-transform {
    transform: 
        perspective(var(--pxl-perspective))
        translateX(var(--pxl-translate-x)) 
        translateY(var(--pxl-translate-y)) 
        translateZ(var(--pxl-translate-z)) 
        scale(--pxl-scale) 
        scale3d(var(--pxl-scale-x), var(--pxl-scale-y), var(--pxl-scale-z)) 
        rotate(var(--pxl-rotate))
        rotateX(var(--pxl-rotate-x)) 
        rotateY(var(--pxl-rotate-y)) 
        rotateZ(var(--pxl-rotate-z)) 
        skew(var(--pxl-skew))
        skewX(var(--pxl-skew-x)) 
        skewY(var(--pxl-skew-y)) 
        matrix(var(--pxl-matrix-a), var(--pxl-matrix-b), var(--pxl-matrix-c), var(--pxl-matrix-d), var(--pxl-matrix-e), var(--pxl-matrix-f));
}

.pxl-overflow-hidden {
    overflow: hidden;
}

.pxl-hidden {
    display: none;
}

.visibility-hidden {
    // visibility: hidden;
}

@include keyframes(underline-slide-restart) {
    0%{
        background-size: 100%;
        background-position: 100% 0%;
    }33.33333% {
        background-size: 0%;
        background-position: 100% 0%;
    }66.66666% {
        background-size: 0%;
        background-position: 0% 100%;
    }100% {
        background-size: 100%;
        background-position: 0% 100%;
    }
}
.text-underline {
    --pxl-height: 1px;
    display: inline;
    background-image: linear-gradient(
        transparent calc(100% - var(--pxl-height)), currentcolor 0px,
    );
    background-size: 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    &:hover {
        animation: underline-slide-restart .75s linear forwards;
        -webkit-animation: underline-slide-restart .75s linear forwards;;
    }
}
.scroll-parallax-item {
    position: absolute;
    inset: 0;
}

.pxl-sticky {
    position: sticky;
    left: 0;
    top: 15px;
    height: fit-content;
    &.pxl-sticky-responsive-sm {
        @media #{$max-sm} {
            position: relative;
            left: auto;
            top: auto;
            height: auto;
        }
    }
    &.pxl-sticky-responsive-md {
        @media #{$max-md} {
            position: relative;
            left: auto;
            top: auto;
            height: auto;
        }
    }
    &.pxl-sticky-responsive-lg {
        @media #{$max-lg} {
            position: relative;
            left: auto;
            top: auto;
            height: auto;
        }
    }
    &.pxl-sticky-responsive-xl {
        @media #{$max-xl} {
            position: relative;
            left: auto;
            top: auto;
            height: auto;
        }
    }

}

.pxl-spacing-block {
    display: block;
    width: 100%;
    margin-block: 7.5px;
}

.link-underline {
    @include underline;
}

.pxl-background-parallax {
    position: absolute;
    inset: 0;
    background: center center / cover no-repeat;
    z-index: 0;
    will-change: transform;
}

.pxl-position--relative {
    position: relative !important;
}

.hover-underline-slide {
    @include hover-underline-slide;
}


.form-checkbox-control {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:has(input:checked) {
        .checkbox {
            background-color: #FD5900;
            border-color: #FD5900;
            color: #FFF;
        }
    }
    .checkbox {
        position: relative;
        @include flex-center;
        width: 20px;
        height: 20px;
        border: thin solid rgba($color: #111111, $alpha: .15);
        transition: all .3s linear;
        color: transparent;
        flex-shrink: 0;
    }
    input[type="checkbox"], input[type="radio"] {
        opacity: 0;
        position: absolute;
        z-index: 9;
        cursor: pointer;
        inset: 0;
    }
}

.form-radio-control {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #818181;
    cursor: pointer;
    &:has(input:checked) {
        .radio {
            border-color: #FD5900;
            &::before {
                background-color: #FD5900;
            }
        }
    }
    input[type="radio"] {
        visibility: hidden;
        position: relative;
        z-index: 9;
        cursor: pointer;
    }
    .radio {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: thin solid #9A9A9A;
        &::before {
            content: '';
            position: absolute;
            inset: 1px;
            background-color: transparent;
            transition: background-color .3s linear;
            border-radius: inherit;
        }
    }
}

.form-control-slider-range {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .slider {
        height: 4px;
        position: relative;
        background: #d9d9d9;
        border-radius: 4px;
    }
    .slider .progress {
        height: 100%;
        left: 0%;
        right: 0%;
        position: absolute;
        border-radius: 4px;
        background: #DD4C20;
    }
    .range-input {
        position: relative;
    }
    .range-input input {
        position: absolute;
        width: 100%;
        height: 4px;
        top: -4px;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #DD4C20;
        pointer-events: auto;
        -webkit-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
    input[type="range"]::-moz-range-thumb {
        height: 18px;
        width: 18px;
        border: none;
        border-radius: 50%;
        background: #DD4C20;
        pointer-events: auto;
        -moz-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }
}

.category {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}


.icon-close {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    &:before, &::after {
        content: '';
        @extend .pxl-absolute-center;
        width: inherit;
        height: 2px;
        background-color: currentColor;
        transition: transform .3s ease;
        border-radius: 5px;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.dot-status {
    --pxl-box-size: 9px;
    @include round-box;
    border: thin solid #FFF;
    background-color: #E5775F;
    position: absolute;
    right: -1px;
    top: -3px;
    z-index: 9;
}