.wrapper {
	overflow-x: clip;
}
.main-content {
	padding-block: 100px 120px;
	> .container {
		max-width: 1550px;
	}
	&__inner {
		&--left-sidebar, &--right-sidebar {
			display: flex;
			justify-content: space-between;
			gap: 90px 30px;
			@media #{$min-lg} {
				align-items: start;
			}
		}
		.blog-article {
			flex: 0 2 1088px;
		}
		.blog-archive {
			flex: 0 2 1002px;
		}
		.sidebar {
			flex: 0 1 366px;
			@media #{$min-lg} {
				position: sticky;
				top: 15px;
			}
		}
		&--no-sidebar {
			.blog-article, .blog-archive {
				flex: 0 1 100%;
				max-width: 100%;
			}
		}
		&--left-sidebar {
			flex-direction: row-reverse;
			@media #{$max-md} {
				flex-direction: column-reverse;
			}
		}
		@media #{$max-md} {
			flex-direction: column;
			.blog-article, .blog-archive, .sidebar {
				flex: 0 1 100%;
			}
		}
	}
}

// Admin bar
.admin-bar {
	#wrapper {
		.main-content {
			.sidebar {
				@media #{$min-lg} {
					top: 47px;
				}
			}
		}
		.pxl-header .header-sticky {
			top: 32px;
			@media screen and (max-width: 782px) {
				top: 46px;
			}
			@media screen and (max-width: 600px) {
				top: 0;
			}
		}
	}

	#smooth-wrapper {
		.pxl-header {
			padding-top: 32px;
		}
	}
}

#smooth-content {
	will-change: transform;
}