@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

// Starts at zero
// Another grid mixin that ensures the min-width of the lowest breakpoint starts at 0.
@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}


// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

// BACKGROUND GRADIENT
@mixin background-linear-gradient($rotate, $startColor, $endColor) {
    background-image: -webkit-linear-gradient($rotate, $startColor, $endColor);
    background-image:    -moz-linear-gradient($rotate, $startColor, $endColor);
    background-image:     -ms-linear-gradient($rotate, $startColor, $endColor);
    background-image:      -o-linear-gradient($rotate, $startColor, $endColor);
    background-image:         linear-gradient($rotate, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

// BACKGROUND HORIZONTAL
@mixin background-horizontal($startColor: #ffb400, $endColor: #f9a33a) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, right top, left top, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(to right, $startColor, $endColor);
    background-image:    -moz-linear-gradient(to right, $startColor, $endColor);
    background-image:     -ms-linear-gradient(to right, $startColor, $endColor);
    background-image:      -o-linear-gradient(to right, $startColor, $endColor);
    background-image:         linear-gradient(to right, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}

// BACKGROUND RADIAL
@mixin background-radial($startColor: #FFFFFF, $startPos: 0%, $endColor: #000000, $endPos:100%) {
    background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos,$startColor), color-stop($endPos,$endColor));
    background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: -o-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: radial-gradient(ellipse at center, $startColor $startPos,$endColor $endPos);
}


// BORDER RADIUS
@mixin border-radius($radius: 5px) {
    @include css3-prefix('border-radius', $radius);
}

// BOX SHADOW
@mixin box-shadow($x) {
    @include css3-prefix('box-shadow', $x);
}


// TRANSFORM
@mixin transform($params) {
    @include css3-prefix('transform', $params);
}

// TRANSITION
@mixin transition($properties...) {
    @if length($properties) >= 1 {
        @include css3-prefix('transition', $properties);
    }
    @else {
        @include css3-prefix('transition', $what: all, $length: 1s, $easing: ease-in-out);
    }
}

// KEYFRAMES
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// ANIMATION
@mixin animation($str) {
    @include css3-prefix('animation', $str);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin round-box {
    border-radius: 50%;
    min-width: var(--pxl-box-size);
    width: var(--pxl-box-size);
    height: var(--pxl-box-size);
}

@mixin underline {
    --pxl-height: 1px;
    position: relative;
    background-color: transparent;
    // overflow: visible;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--pxl-height);
        transform: scaleX(1);
        transform-origin: right center;
        background-color: currentColor;
    }
    &:hover {
        &::after {
            animation: linkUnderlineSlideRevert .5s ease forwards;
            -webkit-animation: linkUnderlineSlideRevert .5s ease forwards;
        }
    }
}

@mixin hover-underline-slide {
    --pxl-height: 1px;
    position: relative;
    display: inline;
    color: inherit;
    background-image: linear-gradient(
        transparent calc(100% - var(--pxl-height)),
        currentcolor 0
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition:
        background-size 0.3s linear,
        background-position 0s linear 0.3s,
        color 0.3s,
        background-color 0.3s;

    &:hover, &.active {
        background-size: 100% 100%;
        background-position: right bottom;
    }

    &:not(:hover) {
        background-size: 0% 100%;
        background-position: left bottom;
    }
}

@mixin reveal-circle-background {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        background-color: var(--pxl-background-color);
        clip-path: circle(0% at 50% 50%);
        pointer-events: none;
        transition: clip-path .3s linear;
        z-index: 0;
    }
    &:hover {
        &::after {
            clip-path: circle(100% at 50% 50%);
        }
    }
}

@mixin motion-scale-icon($color: #6A3D2D, $padding-left: 34px) {
    .button__icon {
        transition: transform .3s ease;
        &--main {
            right: 0;
            transform-origin: right center;
            transform: translateY(-50%);
        }

        &--copy {
            left: 0;
            transform-origin: left center;
            transform: translateY(-50%) scale(0);
        }
    }

    &:hover {
        background-color: transparent;
        color: $color;

        .button__text {
            padding-right: 0;
            padding-left: $padding-left;
        }

        .button__icon {
            &--main {
                transform: translateY(-50%) scale(0);
            }
            &--copy {
                transform: translateY(-50%) scale(1);
            }
        }
    }
}


@mixin reveal-icon {
    .button__icon, .icon {
        position: relative;
        &--main {
            transition-delay: .15s;
            transform-origin: right top;
            transform: scale(1);
            transition: transform .3s ease;
        }
        &--copy {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scale(0);
            transition-delay: 0s;
            transform-origin: left bottom;
            transition: transform .3s ease;
        }
    }
    &:hover {
        .button__icon, .icon {
            &--main {
                transform: scale(0);
                transition-delay: 0s;
            }
            &--copy {
                transform: scale(1);
                transition-delay: .15s;
            }
        }
    }
}

@mixin box-close {
    position: relative;
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFF;
    background-color: var(--color-primary);
    &:before, &::after {
        content: '';
        @extend .pxl-absolute-center;
        width: 22px;
        height: 2px;
        background-color: currentColor;
        transition: transform .3s ease;
        border-radius: 10px;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:hover, &:focus {
        &::before {
            transform: translate(-50%, -50%) rotate(0);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(0);
        }
    }
}

@mixin absolute-center {
    --pxl-translate-x: -50%;
    --pxl-translate-y: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--pxl-translate-x), var(--pxl-translate-y));
}

@mixin hover-zoom-in {
    overflow: hidden;
    img {
        transition: transform 0.3s ease;
    }
    &:hover {
        img {
            transform: scale(1.15);
        }
    }
}

$max-3xs: "screen and (max-width: 360px)";
$max-xs: "screen and (max-width: 575px)";
$max-sm: "screen and (max-width: 767px)";
$max-md: "screen and (max-width: 991px)";
$max-lg: "screen and (max-width: 1199px)";
$max-xl: "screen and (max-width: 1399px)";

$min-sm: "screen and (min-width: 576px)";
$min-md: "screen and (min-width: 768px)";
$min-lg: "screen and (min-width: 992px)";
$min-xl: "screen and (min-width: 1200px)";
$min-xxl: "screen and (min-width: 1400px)";

$mm-sm: "(min-width: 576px) and (max-width: 767px)";
$mm-md: "(min-width: 768px) and (max-width: 991px)";
$mm-lg: "(min-width: 992px) and (max-width: 1199px)";
$mm-xl: "(min-width: 1201px) and (max-width: 1399px)";
